<form>
    <div class="mb-3">
        <label for="Full_Name" class="form-label">Official Names</label>
        <input type="text" class="form-control" id="fullName" aria-describedby="Name">
    </div>
    <div class="mb-3">
        <label for="schoolEmail" class="form-label">School Email</label>
        <input type="email" class="form-control" id="schoolEmail">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>