/* WelcomePage Css */

.gradient-custom-2 {
  background: hsla(189, 80%, 34%, 1);

  background: linear-gradient(
    90deg,
    hsla(189, 80%, 34%, 1) 0%,
    hsla(225, 89%, 47%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(189, 80%, 34%, 1) 0%,
    hsla(225, 89%, 47%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(189, 80%, 34%, 1) 0%,
    hsla(225, 89%, 47%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#11899D", endColorstr="#0D41E1", GradientType=1 );
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: x-large;
}
