<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link <link <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <%- include('../partials/head'); %>
        <title>Admin</title>
        <style>
            main {
                text-align: center;
                font-family: Oswald;
                font-weight: 400;
                margin-left: 30%;
                margin-right: 30%;
            }

            h1 {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        </style>

</head>

<body onload="fetchStudents()">
    <header>
        <!-- ADMIN NAVBAR CODE -->
        <nav class=" navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FydG9vbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                        alt="" width="30" height="24" class="d-inline-block align-text-top">
                    GEEK HUB
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link " href="/"><img src="https://img.icons8.com/material-rounded/2x/home.png"
                                alt="" width="30" height="24" class="d-inline-block align-text-top"></img>
                            HOME
                        </a>
                        <div class="navbar-nav">
                            <a class="nav-link active " aria-current="page" href="#"><img
                                    src="https://img.icons8.com/ios-filled/2x/student-registration.png" alt=""
                                    width="30" height="24" class="d-inline-block align-text-top"></img>
                                STUDENTS
                            </a>
                            <a class="nav-link" href="/addLecturer"><img
                                    src="https://img.icons8.com/metro/2x/podium-with-speaker.png" alt="" width="30"
                                    height="24" class="d-inline-block align-text-top"></img>
                                LECTURERS
                            </a>
                            <a class="nav-link" href="/addcourse"><img
                                    src="https://img.icons8.com/ios-filled/2x/books.png" alt="" width="30" height="24"
                                    class="d-inline-block align-text-top"></img>
                                COURSES
                            </a>
                            <a class="nav-link" href="#"><img src="https://img.icons8.com/ios-filled/2x/exit.png" alt=""
                                    width="30" height="24" class="d-inline-block align-text-top"></img>
                                LOGOUT
                            </a>
                        </div>
                    </div>
                </div>
        </nav>
    </header>
    <main>

        <h1>add students</h1>

        <form>
            <div class="mb-3 rounded-pill">
                <label for="studentId" class="form-label">Student Id</label>
                <input type="text" class="form-control" id="StudentId" aria-describedby="studentId">
            </div>
            <div class="mb-3 rounded-pill">
                <label for="studentName" class="form-label">Student Name</label>
                <input type="text" class="form-control" id="studentName" aria-describedby="studentName">
            </div>
            <div class="mb-3 rounded-pill">
                <label for="studentEmail" class="form-label">Student Email</label>
                <input type="email" class="form-control" id="studentEmail" aria-describedby="studentEmail">
            </div>
            <div class="mb-3 rounded-pill">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
    <table id="content">
    </table>
</body>
<script src="../js/student.js"></script>

</html>