<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&display=swap"
        rel="stylesheet">
    <%- include('../partials/head'); %>
        <title>Admin</title>
        <style>
            h1 {
                text-align: center;
                margin-top: 60%;
                color: #A8E890;
                font-family: 'Pacifico', cursive;
            }
        </style>
</head>

<body>
    <header>
        <!-- ADMIN NAVBAR CODE -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FydG9vbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                        alt="" width="30" height="24" class="d-inline-block align-text-top">
                    GEEK HUB
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link " href="/"><img src="https://img.icons8.com/material-rounded/2x/home.png"
                                alt="" width="30" height="24" class="d-inline-block align-text-top"></img>
                            HOME
                        </a>
                        <div class="navbar-nav">
                            <a class="nav-link active " aria-current="page" href="/addstudent"><img
                                    src="https://img.icons8.com/ios-filled/2x/student-registration.png" alt=""
                                    width="30" height="24" class="d-inline-block align-text-top"></img>
                                STUDENTS
                            </a>
                            <a class="nav-link" href="#"><img
                                    src="https://img.icons8.com/metro/2x/podium-with-speaker.png" alt="" width="30"
                                    height="24" class="d-inline-block align-text-top"></img>
                                LECTURERS
                            </a>
                            <a class="nav-link" href="#"><img src="https://img.icons8.com/ios-filled/2x/books.png"
                                    alt="" width="30" height="24" class="d-inline-block align-text-top"></img>
                                COURSES
                            </a>
                            <a class="nav-link" href="#"><img src="https://img.icons8.com/ios-filled/2x/exit.png" alt=""
                                    width="30" height="24" class="d-inline-block align-text-top"></img>
                                LOGOUT
                            </a>
                        </div>
                    </div>
                </div>
        </nav>
    </header>
    <main>
        <div class="container d-flex justify-content-center d-flex align-items-center mt-50px">
            <div class="row">
                <div class="col-12">
                    <h1>Add Students</h1>
                </div>
            </div>
        </div>

</body>

</html>